<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Our Best Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/','places','offers','new-offer']">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row size="12" size-sm="8" offset-sm="2" class="ion-text-center">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>New Normal Best Deals</ion-card-title>
            <ion-card-subtitle>Cashback Up To 70%</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="offers[2].imgUrl"></ion-img>
          <ion-card-content>
            <div>
              <h3>{{offers[2].title}}</h3>
              <p>Start Form {{offers[2].price | currency}}</p>
            </div>
            <div class="ion-text-right"> 
              <ion-button fill="clear" 
              [routerLink]="[
              '/',
              'places',
              'offers',
              offers[2].id
              ]">
                View Offer
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-label>
        <h1>Other Offers</h1>
      </ion-label>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let offer of offers.slice(-2)" 
          [routerLink]="['/','places','offers',offer.id]"
          detail>
            <ion-thumbnail>
              <ion-img [src]="offer.imgUrl"></ion-img>
            </ion-thumbnail>
            <ion-label class="ion-padding">
              <h1>{{offer.title}}</h1>
              <p>{{offer.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>